[Unit]
Description=Artie Admin Daemon
After=k3s.service
BindsTo=k3s.service

[Service]
Type=simple
RemainAfterExit=no
ExecStart=sleep infinity

[Install]
WantedBy=multi-user.target
