# TODO: Add filters to trigger this workflow only on specific branches or tags as needed.


version: 2.1

executors:
  ubuntu-executor:
    machine:
      image: ubuntu-2404:current
    resource_class: large
  arm-executor:
    machine:
      image: ubuntu-2404:current
    resource_class: arm.medium

commands:
  setup:
    description: "Set up Docker environment and install dependencies."
    parameters:
      architecture:
        type: string
        default: "amd64"
    steps:
      - run:
          name: Set up Docker Environment Variables
          command: |
            echo "export DOCKER_TAG=${CIRCLE_SHA1:0:8}" >> $BASH_ENV
            echo "export DOCKER_REPO=maxfieldstrange" >> $BASH_ENV
      - run:
          name: Install Dependencies
          command: |
            sudo apt-get update
            sudo apt-get install -y python3 python3-pip libsecret-1-0 libsecret-1-dev dbus-x11 gnome-keyring
      - run:
          name: Install Python Requirements
          command: |
            pip install -r framework/requirements.txt
      - run:
          name: Start D-Bus
          command: |
            eval $(dbus-launch --sh-syntax)
            echo "DBUS_SESSION_BUS_ADDRESS=$DBUS_SESSION_BUS_ADDRESS" >> $BASH_ENV
            echo "DBUS_SESSION_BUS_PID=$DBUS_SESSION_BUS_PID" >> $BASH_ENV
      - run:
          name: Set up Secret Service for Docker Credentials
          command: |
            wget -O docker-credential-secretservice https://github.com/docker/docker-credential-helpers/releases/download/v0.9.4/docker-credential-secretservice-v0.9.4-<<parameters.architecture>>
            chmod +x docker-credential-secretservice
            sudo mv docker-credential-secretservice /usr/local/bin/
      - run:
          name: Set up Docker Config File
          command: |
            mkdir -p $HOME/.docker
            echo '{"credsStore":"secretservice"}' > $HOME/.docker/config.json

jobs:
  build:
    executor: ubuntu-executor
    steps:
      - checkout
      - attach_workspace:
          at: .
      - setup:
          architecture: "amd64"
      - run:
          name: Build All
          command: |
            echo '$USER' | gnome-keyring-daemon --unlock
            echo "$DOCKERHUB_PAT" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
            docker buildx create --use --platform linux/amd64,linux/arm64
            python3 artie-tool.py build all --enable-error-tracing --docker-repo $DOCKER_REPO --force-build --docker-tag $DOCKER_TAG --fail-fast
          working_directory: framework
      - persist_to_workspace:
          root: .
          paths:
            - build-artifacts

  test-sanity:
    executor: arm-executor
    steps:
      - checkout
      - attach_workspace:
          at: .
      - setup:
          architecture: "arm64"
      - run:
          name: Run Sanity Tests
          command: |
            echo '$USER' | gnome-keyring-daemon --unlock
            echo "$DOCKERHUB_PAT" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
            python3 artie-tool.py test all-sanity --enable-error-tracing --docker-repo $DOCKER_REPO --docker-tag $DOCKER_TAG --docker-logs --nprocs 1 --output testlog-sanity.txt --test-timeout-s 120
          working_directory: framework
          no_output_timeout: 5m
      - run:
          name: Collect Test Results
          command: grep "All tasks succeeded" testlog-sanity.txt
          working_directory: framework
          when: always
      - store_artifacts:
          path: framework/testlog-sanity.txt

  test-unit:
    executor: arm-executor
    steps:
      - checkout
      - attach_workspace:
          at: .
      - setup:
          architecture: "arm64"
      - run:
          name: Run Unit Tests
          command: |
            echo '$USER' | gnome-keyring-daemon --unlock
            echo "$DOCKERHUB_PAT" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
            python3 artie-tool.py test all-unit --enable-error-tracing --docker-repo $DOCKER_REPO --docker-tag $DOCKER_TAG --docker-logs --nprocs 1 --output testlog-unit.txt --test-timeout-s 120
          working_directory: framework
          no_output_timeout: 5m
          when: always
      - run:
          name: Collect Test Results
          command: grep "All tasks succeeded" testlog-unit.txt
          working_directory: framework
          when: always
      - store_artifacts:
          path: framework/testlog-unit.txt

  test-integration:
    executor: arm-executor
    steps:
      - checkout
      - attach_workspace:
          at: .
      - setup:
          architecture: "arm64"
      - run:
          name: Run Integration Tests
          command: |
            echo '$USER' | gnome-keyring-daemon --unlock
            echo "$DOCKERHUB_PAT" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
            python3 artie-tool.py test all-integration --enable-error-tracing --docker-repo $DOCKER_REPO --docker-tag $DOCKER_TAG --docker-logs --nprocs 1 --output testlog-integration.txt --test-timeout-s 120
          working_directory: framework
          no_output_timeout: 5m
          when: always
      - run:
          name: Collect Test Results
          command: grep "All tasks succeeded" testlog-integration.txt
          working_directory: framework
          when: always
      - store_artifacts:
          path: framework/testlog-integration.txt

workflows:
  artie-build-and-test:
    jobs:
      - build:
          context:
            - docker-hub
      - test-sanity:
          requires:
            - build
          context:
            - docker-hub
      - test-unit:
          requires:
            - build
          context:
            - docker-hub
      - test-integration:
          requires:
            - build
          context:
            - docker-hub
