name: yocto-controller-module
labels:
  - yocto
dependencies:
artifacts:
  - name: yocto-image
    type: yocto-image
cli-args:
  - name: --yocto-image
    default: artie-image-release
    choices:
      - artie-image-dev
      - artie-image-release
    help: "The Yocto image to build for Controller Module."
  - name: --repos-directory
    default: ../
    help: "The directory to clone Yocto repositories into. Relative paths are relative to the Artie repo's root. By default the repos are not cleaned up after the build."
  - name: --repo-branch
    default: main
    help: "The branch of the artie-controller-node repository to clone."
  - name: --skip-clone
    action: store_true
    help: "If set, skip cloning the repository. If the repository already exists and this is NOT passed, an error will be raised."
  - name: --yocto-hosts
    default: ""
    help: "If given, should be a comma-separated list of items of the form 'host-name:address' to add to the /etc/hosts file on the Yocto image."
  - name: --yocto-insecure-registries
    default: ""
    help: "If given, should be a comma-separated list of host names or addresses to add to the Docker configuration file as insecure registries."
type: build
steps:
  - job: yocto-build
    artifacts:
      - yocto-image
    repo: https://github.com/MaxStrange/artie-controller-node.git
    repo-name: artie-controller-node
    layers:
      - poky:
          url: git://git.yoctoproject.org/poky
          tag: scarthgap
      - meta-raspberrypi:
          url: https://github.com/agherzan/meta-raspberrypi
          tag: scarthgap
      - meta-splash:
          url: https://github.com/hamzamac/meta-splash.git
      - meta-openembedded:
          url: git://git.openembedded.org/meta-openembedded
          tag: scarthgap
      - meta-virtualization:
          url: https://git.yoctoproject.org/git/meta-virtualization
          tag: scarthgap
    setup-script:
      script-path: ./setup.sh
    build-cmd: |
      source poky/oe-init-build-env "$PWD"/build && bitbake ${YOCTO_IMAGE}
    post-script:
      script-path: ./create-img.sh
      args:
        - image: ${YOCTO_IMAGE}
    binary-fname: ${YOCTO_IMAGE}.img
