[Unit]
Description=Artie Compute Node Daemon
After=k3s-agent.service
BindsTo=k3s-agent.service

[Service]
Type=simple
RemainAfterExit=no
ExecStart=sleep infinity

[Install]
WantedBy=multi-user.target
