name: artie-tests
on:
  push:
  pull_request:
    types:
      - opened
      - reopened
    branches:
      - 'main'
env:
  DOCKER_REPO: maxfieldstrange
permissions: read-all
jobs:
  export-variables:
    name: export-variables
    runs-on: ubuntu-22.04
    outputs:
      docker-tag: ${{ steps.step1.outputs.tag }}
    steps:
      - id: step1
        run: echo "tag=${GITHUB_SHA:0:8}" >> "$GITHUB_OUTPUT"

  build:
    name: build
    runs-on: ubuntu-22.04
    needs: export-variables
    env:
      DOCKER_TAG: ${{needs.export-variables.outputs.docker-tag}}
    steps:
      - id: checkout
        name: Checkout
        uses: actions/checkout@v3
      - id: setup
        uses: ./.github/actions/artie-setup-base
      - id: docker-login
        name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{secrets.DOCKERHUB_USERNAME}}
          password: ${{secrets.DOCKERHUB_PAT}}
      - id: build
        name: Build Docker Images
        run: python3 artie-tool.py build all --enable-error-tracing --docker-repo $DOCKER_REPO --force-build --docker-tag $DOCKER_TAG --nprocs 1 --fail-fast
        shell: bash
        working-directory: ${{github.workspace}}/framework
      - id: upartifacts
        name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: build-artifacts
          path: build-artifacts/

  test:
    name: test
    needs:
      - export-variables
      - build
    runs-on: ubuntu-22.04
    env:
      DOCKER_TAG: ${{needs.export-variables.outputs.docker-tag}}
    steps:
      - id: checkout
        name: Checkout
        uses: actions/checkout@v3
      - id: setup
        uses: ./.github/actions/artie-setup-base
      - id: downartifacts
        name: Download Artifacts
        uses: actions/download-artifact@v4
        with:
          name: build-artifacts
      - id: lsall
        name: Display structure of downloaded files
        run: ls -R
        shell: bash
      - id: docker-login
        name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{secrets.DOCKERHUB_USERNAME}}
          password: ${{secrets.DOCKERHUB_PAT}}
      - id: test-sanity
        name: Run Sanity Tests
        run: python3 artie-tool.py test all-sanity --enable-error-tracing --docker-repo $DOCKER_REPO --docker-tag $DOCKER_TAG --docker-logs --nprocs 1 --output testlog-sanity.txt --test-timeout-s 120
        shell: bash
        working-directory: ${{github.workspace}}/framework
        continue-on-error: true
      - id: test-unit
        name: Run Unit Tests
        run: python3 artie-tool.py test all-unit --enable-error-tracing --docker-repo $DOCKER_REPO --docker-tag $DOCKER_TAG --docker-logs --nprocs 1 --output testlog-unit.txt --test-timeout-s 120
        shell: bash
        working-directory: ${{github.workspace}}/framework
        continue-on-error: true
      - id: test-integration
        name: Run Integration Tests
        run: python3 artie-tool.py test all-integration --enable-error-tracing --docker-repo $DOCKER_REPO --docker-tag $DOCKER_TAG --docker-logs --nprocs 1 --output testlog-integration.txt --test-timeout-s 120
        shell: bash
        working-directory: ${{github.workspace}}/framework
        continue-on-error: true
      - id: collect-test-results
        name: Collect Test Results
        run: grep "All tasks succeeded" testlog-sanity.txt && grep "All tasks succeeded" testlog-unit.txt && grep "All tasks succeeded" testlog-integration.txt
        shell: bash
        working-directory: ${{github.workspace}}/framework
